/* HAMBURGER */
.navbar-toggle {
  overflow: hidden; }
  .navbar-toggle .icon-bar {
    transition: opacity, transform;
    transition-duration: 600ms; }

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
  -ms-transform: translateY(6px) rotate(45deg);
      transform: translateY(6px) rotate(45deg); }

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
  opacity: 0;
  -ms-transform: translateX(-100%);
      transform: translateX(-100%); }

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(4) {
  -ms-transform: translateY(-6px) rotate(-45deg);
      transform: translateY(-6px) rotate(-45deg); }

.navbar-toggle .icon-bar {
  background-color: black !important; }

/* hamburger end */
body, html {
  color: black;
  font-family: 'Roboto', serif; }

a {
  color: black; }

img {
  max-width: 100%;
  height: auto; }

/* MENU */
.navbar {
  border: none; }

.navbar-collapse {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: right; }
  .navbar-collapse a {
    color: black; }

.menu {
  z-index: 20;
  position: fixed;
  height: 90px;
  box-shadow: 0 0 6px 0px #b0b0b0;
  background-color: white;
  width: 100%; }
  .menu .navbar-header {
    height: 90px; }
  .menu button {
    padding-top: 20px; }

.navbar-brand {
  position: absolute;
  left: 0; }

.navbar-right > li {
  transition: 0.5s all; }

.nav > li > a {
  padding: 10px 9px;
  transition: 1s all;
  border-radius: 20px; }

.nav > li > a:focus {
  background: none; }

.menuLi {
  display: -ms-flexbox;
  display: flex; }

.searchInput {
  font-weight: normal;
  border: none;
  outline: none;
  background: none;
  padding: 6px;
  transition: 1s all;
  width: 0; }

.searchInputOn {
  width: 200px;
  border-bottom: 1px solid #979797; }

/* END MENU */
/* SLIDER SECTION */
.slider {
  padding-top: 90px;
  position: relative; }
  .slider .container {
    position: relative; }

.main-button {
  border: 0;
  background-color: #00d200;
  padding: 18px;
  color: #fffcfb;
  font-weight: bold; }
  .main-button:focus {
    border: 0;
    outline: 0; }

.main-button__slider {
  position: absolute;
  bottom: 15px;
  right: 15px;
  transition: 1s all; }
  .main-button__slider:hover {
    -ms-transform: scale(1.1);
        transform: scale(1.1); }

/* END SLIDER SECTION */
/* MOBILE-BRANDS SECTION */
.mobile-brands img {
  width: 90px;
  height: 40px; }

.mobile-brands .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

/* END MOBILE-BRANDS SECTION */
/* CONTENT SECTION */
.content--nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #ebebeb;
  height: 76px; }
  .content--nav a {
    font-size: 16px;
    font-weight: bold;
    padding: 27px 10px; }
    .content--nav a:hover {
      text-decoration: none;
      color: white;
      background-color: #00d200; }
  .content--nav a:hover::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 5px solid #fcfcfc;
    margin-top: 45px;
    margin-left: 20px; }

.content--phones {
  min-height: 300px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: start; }

.content--container {
  text-align: center; }

.main-button--content {
  margin-top: 85px;
  margin-bottom: 40px;
  transition: 1s all; }
  .main-button--content:hover {
    -ms-transform: scale(1.02);
        transform: scale(1.02); }

.phone-box {
  width: 100%;
  height: 415px;
  background: #f4f4f4;
  text-align: center;
  position: relative; }
  .phone-box p {
    font-weight: bold; }
  .phone-box .phone-box--name {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative; }
  .phone-box .phoneImg {
    width: 86px;
    height: 168px; }
  .phone-box .phone-box--price {
    padding-top: 50px;
    position: relative; }
  .phone-box .phone-box-more {
    width: 100%;
    height: 490px;
    background-color: rgba(0, 210, 0, 0.9);
    position: absolute;
    top: 0;
    z-index: 20;
    visibility: hidden;
    display: -ms-flexbox;
    display: flex;
    z-index: 5;
    left: 0px; }
  .phone-box:hover .phone-box-more {
    visibility: visible; }
  .phone-box:hover .phone-box--name {
    z-index: 30;
    color: white; }
  .phone-box:hover .phone-box--price {
    z-index: 30;
    color: white; }

.phone-box:nth-of-type(2n+1) {
  background: linear-gradient(to right, #f4f4f4 0%, white 100%); }

.phone-box:nth-of-type(2n) {
  background: linear-gradient(to left, #f4f4f4 0%, white 100%); }

.main-button__black {
  background-color: #000000;
  width: 40%;
  height: 40px;
  padding: 10px; }

.cart {
  width: 25px;
  height: 25px; }

.cart path {
  fill: #ffffff !important; }

.main-button__white {
  background-color: #f3f4f6;
  color: #000000;
  width: 40%;
  height: 40px;
  padding: 10px; }

.phone-box-more--buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: end;
      align-items: flex-end;
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; }

.phone-box-more--text {
  color: white;
  width: 100%;
  padding-bottom: 75px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }

.displayFlag {
  display: none; }

/* END CONTENT SECTION */
/* FOOTER */
.footer {
  height: 150px;
  background-color: #000000;
  text-align: center;
  color: white;
  font-size: 11px; }
  .footer img {
    margin: 30px; }

.logo-white path, polygon {
  fill: #ffffff !important; }

.logo-white {
  height: 34px;
  width: 155px;
  margin: 30px; }

/* END FOOTER */
@media (max-width: 340px) {
  .navbar-brand img {
    height: 40px;
    width: 160px; }
  .content--nav a {
    font-size: 12px; } }

@media (min-width: 768px) {
  /* MENU */
  .navbar-collapse {
    height: 90px;
    text-align: center; }
  .navbar-right {
    right: 0;
    padding-top: 10px;
    display: -ms-flexbox;
    display: flex; }
  #navigation {
    height: 90px; }
  .nav > li > a {
    padding: 10px 9px;
    font-size: 10px; }
  /* END MENU */
  .main-button__slider {
    padding: 20px;
    bottom: 25px;
    right: 25px; }
  .mobile-brands img {
    width: 90px;
    height: 40px; }
  /* CONTENT SECTION */
  .content--nav {
    /* END CONTENT SECTION */ }
    .content--nav a {
      padding: 27px 27px; }
  .phone-box {
    width: 50%; }
  .opacityFlag {
    opacity: 0; }
  .widthFlag {
    width: 100%; }
  .phone-box:nth-of-type(1n) {
    background: linear-gradient(to left, #f4f4f4 0%, white 100%); }
  .phone-box:nth-of-type(4n+1), .phone-box:nth-of-type(4n+2) {
    background: linear-gradient(to right, #f4f4f4 0%, white 100%); } }

@media (min-width: 992px) {
  /* MENU */
  .navbar-right {
    width: unset; }
  .navbar-right {
    padding-top: 20px; }
  .nav > li > a {
    padding: 10px 15px;
    font-size: 14px; }
  /*END MENU */
  .main-button__slider {
    padding: 25px;
    bottom: 40px;
    right: 40px; }
  .mobile-brands img {
    width: 150px;
    height: 66px; }
  .phone-box {
    width: 33%; }
  .phone-box:nth-of-type(1n) {
    background: linear-gradient(to left, #f4f4f4 0%, white 100%); }
  .phone-box:nth-of-type(6n+1), .phone-box:nth-of-type(6n+2), .phone-box:nth-of-type(6n+3) {
    background: linear-gradient(to right, #f4f4f4 0%, white 100%); } }

@media (min-width: 1200px) {
  .main-button__slider {
    padding: 25px;
    bottom: 50px;
    right: 50px; }
  .mobile-brands img {
    width: 180px;
    height: 80px; }
  .phone-box {
    width: 25%; }
  .phone-box:nth-of-type(1n) {
    background: linear-gradient(to left, #f4f4f4 0%, white 100%); }
  .phone-box:nth-of-type(8n+1), .phone-box:nth-of-type(8n+2), .phone-box:nth-of-type(8n+3), .phone-box:nth-of-type(8n+4) {
    background: linear-gradient(to right, #f4f4f4 0%, white 100%); } }
