@import "hamburger";

$primaryTekstColor: #222222;
$footerTekstColor: #9d9d9d;
$menuTekstColor: black;
$primaryTekstSize: 20px;
$sizeColorUnderlineAndBorder:3px;

body, html {
  color: black;
  font-family: 'Roboto', serif;
}
a {
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}
/* MENU */

.navbar {
  border:none;
}
.navbar-collapse {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: right;
  a{
    color: black;
  }
}
.menu {
  z-index: 20;
  position: fixed;
  height: 90px;
  box-shadow: 0 0 6px 0px #b0b0b0;
  background-color: white;
  width: 100%;
  .navbar-header{
    height: 90px;
  }
  button {
    padding-top: 20px;
  }
}
.navbar-brand{
  position: absolute;
  left: 0;
}
.navbar-right>li{
  transition: 0.5s all;
}
.nav>li>a {
  padding: 10px 9px;
  transition: 1s all;
  border-radius: 20px; // BORDER RADIUS VISIBLE ON HOVER
}.nav>li>a:focus {
background: none;
}
.menuLi{
  display: flex;
}

.searchInput{
  font-weight: normal;
  border: none;
  outline: none;
  background: none;
  padding: 6px;
  transition: 1s all;
  width:0;
}
.searchInputOn{
  width: 200px;
  border-bottom: 1px solid #979797;
}

/* END MENU */

/* SLIDER SECTION */
.slider{
  padding-top: 90px;
  position: relative;
  .container{
    position: relative;
  }
}
.main-button{
  border: 0;
  background-color: #00d200;
  padding: 18px;
  color: #fffcfb;
  font-weight: bold;

  &:focus{
    border:0;
    outline:0;
  }

}
.main-button__slider{
  position:absolute;
  bottom: 15px;
  right: 15px;
  transition: 1s all;

  &:hover{
    transform: scale(1.1);
  }
}
/* END SLIDER SECTION */

/* MOBILE-BRANDS SECTION */
.mobile-brands {
  img {
    width: 90px;
    height: 40px;
  }

  .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

}
/* END MOBILE-BRANDS SECTION */

/* CONTENT SECTION */
.content--nav {
  display: flex;
  align-content: center;
  align-items: center;
  background-color: #ebebeb;
  height: 76px;
  a {
    font-size: 16px;
    font-weight: bold;
    padding: 27px 10px;
    &:hover{
      text-decoration: none;
      color: white;
      background-color:#00d200;

    }

  }
  a:hover::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 5px solid #fcfcfc;
    margin-top: 45px;
    margin-left: 20px;
  }
}

.content--phones{
  min-height: 300px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
}
.content--container{
  text-align: center;
}
.main-button--content{
  margin-top: 85px;
  margin-bottom: 40px;
  transition: 1s all;
  &:hover{
    transform: scale(1.02);
  }
}

.phone-box{
  width:100%;
  height: 415px;
  background: rgb(244,244,244);
//  background: linear-gradient(to right, rgba(244,244,244,1) 0%,rgba(255,255,255,1) 100%);
  text-align: center;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
  position: relative;

  p {
    font-weight: bold;
  }

  .phone-box--name{
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
  }
  .phoneImg{
    width:86px;
    height: 168px;

  }

  .phone-box--price{
    padding-top: 50px;
    position: relative;
  }
  .phone-box-more{
    width:100%;
    height: 490px;
    background-color: rgba(0, 210, 0, 0.9);
    position:absolute;
    top: 0;
    z-index: 20;
    visibility: hidden;
    display: flex;
    z-index: 5;
    left:0px
  }
  &:hover .phone-box-more {
   visibility: visible
  }
  &:hover .phone-box--name{
    z-index: 30;
    color: white;
  }
  &:hover .phone-box--price{
    z-index: 30;
    color: white;
  }


}
// different backgorund on row
.phone-box:nth-of-type(2n+1){
    background: linear-gradient(to right, rgba(244,244,244,1) 0%,rgba(255,255,255,1) 100%);
}
.phone-box:nth-of-type(2n){
    background: linear-gradient(to left, rgba(244,244,244,1) 0%,rgba(255,255,255,1) 100%);
}
// end different backgorund on row
.main-button__black{
  background-color: #000000;
  width: 40%;
  height: 40px;
  padding: 10px;
}
.cart{
  width: 25px;
  height: 25px;
}
.cart path {
  fill: #ffffff!important;
}
.main-button__white{
  background-color: #f3f4f6;
  color: #000000;
  width: 40%;
  height: 40px;
  padding: 10px;
}

.phone-box-more--buttons{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}
.phone-box-more--text{
  color:white;
  width: 100%;
//  position: absolute;
  padding-bottom: 75px;
  align-self: center;
}
.displayFlag{
  display:none;
}
/* END CONTENT SECTION */

/* FOOTER */
.footer{
  height: 150px;
  background-color: #000000;
  text-align: center;
  color: white;
  font-size: 11px;
  img{
    margin:30px;
  }
}
.logo-white path, polygon {
  fill: #ffffff!important;
}
.logo-white {
  height: 34px;
  width: 155px;
  margin: 30px;
}

/* END FOOTER */

@import "media";
